.line {
	/* display: inline; */
	height: 0.8vh;
	width: 100%;
	background-color: rgb(155, 143, 143);
	/* position: relative;
	bottom: 9vh; */
}
.timer-container {
	margin-top: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 4px 4px 6px  rgb(233, 232, 232);
}
.timer{
	padding: 7vh;
	font-size: 24px;
	font-weight: bolder;
}
.sec,.min{
	padding: 4px;
}
img{
	max-width: 300px;
	min-width: 170px;
	max-height: 250px;
	min-height: 140px;
}

.img-fluid {
	animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: all 0.2s;
}

@keyframes rotate {
	0% {
        transform: rotate(-180deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

